/* --- General --- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

.section-title__style {
    color: #6415ff;
}

.container {
    padding: 80px 40px;
}

.row, .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.text--blue {
    color: #6415ff;
}

.section__text--style {
    color: #6415ff;
    margin-bottom: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    color:#243e63
}

h3 {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

p {
    font-size: 18px;
    padding: 32px 0;
    letter-spacing: 0.25px;
    line-height: 1.5;
}

ul {
    text-decoration: none;
}

li {
    text-decoration: none;
}

.disabled__link {
    cursor: not-allowed;
}


/* --- Landing --- */


#landing {
    padding: 0 32px;
}


/* --- Navigation --- */


nav {
    padding-top: 32px;
    font-size: 16px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--row {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 0;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    color: #243e63;
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    list-style-type: none;
    color: #243e63;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    margin-left: 40px;
    letter-spacing: 0.25px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #243e63;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease;
}

.nav__link:hover::after {
    transform: scaleX(1)
}

.nav__link--login {
    padding-bottom: 8px;
    margin-left: 96px;
}

.nav__link--button {
    font-size: 14px;
    font-weight: 600;
    margin-left: 24px;
    padding: 8px 32px;
    border-radius: 50px;
    background-color: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    transition: all 300ms ease;
}

.nav__link--button:hover {
    background-color: #243e63;
    transition: all 300ms ease;
}

.nav__button--menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #fff;
    display: none;
}

.nav__menu--backdrop {
    position: fixed;
    background-color: #fff;
    top: 20px;
    left: 10px;
    right: 10px;
    bottom: 60%;
    border: 2px solid rgb(226, 218, 218);
    border-radius: 25px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 500ms ease, transform 500ms ease;
}

.nav__button-menu--close {
    position: absolute;
    right: 12px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu--open {
    max-height: 500px;
}

.menu--open .nav__menu--backdrop {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}

.nav__menu--links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__menu--list {
    padding: 16px 0;
    list-style: none;
}

.nav__menu--link {
    color: #243e63;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}


/* --- Section (Header) --- */


.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    width: 40%;
    height: auto;
}

.header__input--bar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.header__input--email {
    width: 100%;
    height: 80px;
    font-size: 18px;
    padding: 16px 160px 16px 24px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid rgb(229, 231, 235);
    position: relative;
}

.header__input--email .header__input--bar {
    opacity: 0.4;
    display: flex;
}

.header__input--button{
    position: absolute;
    top: calc(100% / 6);
    right: 0;
    padding-top: auto;
    padding: 0 24px;
    margin: 0 16px;
    height: 70%;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    background-color: #6415ff;
    color: #fff;
    border: none;
    transition: all 300ms ease;
}

.header__input--button:hover {
    background-color: #243e63;
    transition: all 300ms ease;
}

.header__left--footer {
    filter: grayscale(1);
    opacity: 0.48;
}

.header__left--footer-title {
    font-size: 12px;
    margin-top: 96px;
    padding: 0;
}

.header__left--footer-img {
    width: 100%;
    max-width: 360px;
    padding: 0;
    margin-top: 16px;
}

.header__right {
    width: 60%;
}

/* Prevent header image from overflowing */
.header__img {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


/* --- Section (Features) --- */


.features__description {
    text-align: center;
    max-width: 600px;
    color: #7c8ba1;
}

.features__item--img {
    width:24px;
    height:24px;
}

.features__item--img-box {
    height: 64px;
    padding: 20px;
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.features__list--wrapper {
    display: flex;
}

.features__item--wrapper {
    width: calc(100% / 3);
    display: flex;
    padding: 0 0 24px 0;
}

.features__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__item--texts {
    width: 75%;
    margin-top: 16px;
    margin-left: 16px;
}

.features__para--text {
    padding: 0;
    font-size: 16px;
    margin-top: 16px;
    line-height: 2;
    color: #7c8ba1;
}

.features__list--wrapper {
    display: flex;
    flex-wrap: wrap;
}


/* --- Section (Quality) --- */


.quality__row {
    display: flex;
}

.quality__description {
    max-width: 600px;
    color: #7c8ba1;
}

.quality__left--row {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 96px;
}

.quality__link--button {
    width: 175px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 32px;
    border-radius: 50px;
    background-color: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    transition: all 300ms ease;
}

.quality__link--button:hover {
    background-color: #243e63;
    transition: all 300ms ease;
}

.quality__right--row {
    width: 50%;
    margin: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --- Section (Steps) --- */


.steps__row {
    display: flex;
    justify-content: space-around;
}

.steps__left--row {
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__right--row {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0 24px 64px;
}

.steps__title {
    width: 100%;
    max-width: 450px;
}

.steps__list {
    margin-top: 0;
}

.steps__main--wrapper {
    margin-top: 24px;
}

.steps__item--wrapper {
    padding-top: 16px;
    width: 65%;
    display: flex;
}

.steps__description--wrapper {
    padding-left: 24px;
}

.steps__title--text {
    width: 100%;
    font-size: 18px;
}

.steps__para--text {
    padding-top: 16px;
    font-size: 14px;
    line-height: 24px;
}


/* --- Section (Values) --- */


.values__row {
    display: flex;
}

.values__description {
    max-width: 600px;
    color: #7c8ba1;
}

.values__link--button {
    width: 175px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 32px;
    border-radius: 50px;
    background-color: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    transition: all 300ms ease;
}

.values__link--button:hover {
    background-color: #243e63;
    transition: all 300ms ease;
}

.values__left--row{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 48px 24px 0;
}

.values__left-column--wrapper {
    display: flex;
    margin-bottom: 24px;
}

.values__left-title--wrapper {
    display: flex;
    align-items: center;
}

.values__img--circle {
    width: 40px;
    height: 40px;
    background-color: #9ae6b4;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 24px;

}

.values__para--text {
    font-size: 16px;
    color: #7c8ba1;
    padding: 8px 12px 0 0;
}

.values__right--row{
    width: 50%;
    display: flex;
    align-items: center;
}


/* --- Section (Subscription) --- */


.subscription__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscription__description {
    text-align: center;
    max-width: 600px;
    color: #7c8ba1;
}

.subscription__options--wrapper {
    display: flex;
    justify-content: space-between;
}

.subscription__option-rows--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    border: 1px solid #cbd5e0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.subscription__or--wrapper-2 {
    background-color: rgb(76, 81, 191);
}

.subscription__option--stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.subscription__option--stripe.stripe-1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.subscription__option--stripe.stripe-3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.subscription__option-pricing--wrapper {
    width: 100%;
    text-align: center;
}

.option__title--edges,
.option__title--middle {
    font-size: 16px;
    font-weight: bold;
    padding: 24px 0 0 0;
}

.option__price--edges,
.option__price--middle {
    font-size: 56px;
    font-weight: bold;
    padding: 8px 0;
}

.option__monthly--edges,
.option__monthly--middle {
    color: #a0aec0;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 24px 0;
}

.option__details--edges,
.option__details--middle {
    color: #a0aec0;
    padding: 12px 0;
}

.option__title--middle {
    color: #fff;
}

.option__price--middle {
    color: #fff;
}

.option__monthly--middle {
    color: #fff;
}

.option__details--middle {
    color: #fff;
}

.subscription__option-details--wrapper {
    width: 100%;
    text-align: center;
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    padding-bottom: 24px;
}

.subscription__od--wrapper-2 {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.subscription__option--button {
    padding: 32px 0;
}

.option__button--style {
    padding: 16px 72px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
}

.button__option--1,
.button__option--3 {
    color: #fff;
}

.button__option--2 {
    color: #6415ff;
    background-color: #fff;
}

.button__option--1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.button__option--3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/* --- Section (Testimonials) --- */


.test__row {
    display: flex;
}

.test__left--row {
    width: 50%;
    display: flex;
    align-items: center;
}

.test__right--row {
    width: 50%;
    margin: 0 0 0 48px;
}

.test__description {
    max-width: 700px;
    color: #7c8ba1;
}

.test__ratings--wrapper {
    display: flex;
}

.test__text--style {
    padding: 24px 0;
}

.test__review--title {
    padding: 24px 0;
}

.test__review--para {
    max-width: 600px;
    padding: 0 0 36px 0;
    font-size: 16px;
}

.test__profile--section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test__profile--wrapper {
    display: flex;
}

.test__profile--circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    overflow: hidden;
}

.test__profile--img {
    width: 100px;
    height: 100px;
}

.test__profile--details {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test__user--title {
    font: 14px;
    color:#7c8ba1;
    padding: 0;
}

.test__arrow--wrapper {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.test__arrow--circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(229, 231, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__arrow--img {
    font-size: 1.5em;
    object-fit: center;
}

.test__arrow--divider {
    width: 1px;
    height: 24px;
    background-color: black;
}



/* --- Section (Invitation) --- */


.invite__wrapper {
    width: 100%;
    height: 250px;
    padding: 48px 72px;
    background-color: rgb(100, 21, 255);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invite__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.invite__message {
    color: white;
    max-width: 500px;
    font-size: 30px;
}

.invite__button {
    width: 175px;
    height: 75px;
    color: #fff;
    margin-left: 36px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.invite__button--start {
    background-color: #f56565;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease;

}

.invite__button--start:hover {
    background-color: #c93f3f;
    transition: all 300ms ease;
}

.invite__button--contact {
    background-color: transparent;
    border: 1px solid #f56565;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease;
}

.invite__button--contact:hover {
    color: #6415ff;
    background-color: #fff;
    transition: all 300ms ease;
}


/* --- Footer --- */


.footer__columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__column {
    text-align: center;
}

.column__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column__title {
    font-size: 16px;
    padding: 24px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.column__link {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 12px 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: not-allowed;
}

.column__link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease;
}

.column__link:hover::after {
    transform: scale(1);
}

.footer__divider {
    height: 2px;
    width: 100%;
    margin: 48px 0;
    border-color: rgb(123, 75, 218);
}

.footer__nav--row {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer__nav-logo--wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.footer__logo--img {
    width: 40px;
    display: flex;
    align-items: center;
}

.footer__logo--text {
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.footer__copyright {
    color: white;
}

.footer__nav-links--wrapper {
    display: flex;
}

.circle__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin-left: 16px;
}

.footer__link {
    font-size: 1.5em;
    color: #333;
}


/* --- Media Conversions --- */


@media (max-width: 1200px) {

    .header__title {
        font-size: 32px;
        max-width: 350px;
    }

    .header__para {
        font-size: 14px;
        width: 100%;
        max-width: 300px;
    }

    .header__left--footer-title {
        margin-top: 48px;
    }

    .header__input--email {
        font-size: 14px;
        height: 60px;
        width: 75%;
        padding: 16px 115px 16px 24px;
    }

    .header__input--button {
        position: absolute;
        right: 0;
        font-size: 12px;
        padding: 0 16px;
        margin: 0 27%;
    }

    .quality__left--row {
        width: 40%;
    }

    .quality__description {
        width: 100%;
        min-width: 450px;
    }
    
    .invite__row {
        width: 100%;
    }
    
    .invite__message {
        width: 400px;
    }

    .invite__buttons--wrapper {
        margin-left: 12px;
        text-align: end;
        display: flex;
    }
}

@media (max-width: 1024px) {

    .nav__link {
        margin-left: 24px;
    }

    .nav__link--login {
        margin-left: 56px;
    }

    .nav__link--button {
        margin-left: 10px;
    }
    
    .header__row {
        display: flex;
        flex-direction: column;
    }

    .header__title {
        font-size: 48px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .header__para {
        max-width: 500px;
        margin: 0 auto;
    }

    .header__left {
        width: 100%;
        text-align: center;
    }

    .header__input--email {
        width: 50%;
        padding: 16px 70px 16px 12px;
    }

    .header__input--button {
        margin: 0 26%;
    }

    .header__left--footer-title {
        margin-top: 32px;
    }

    .header__right {
        width: 100%;
    }

    .header__img {
        margin: 0 auto;
        margin-top: 32px;
    }

    .quality__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .quality__left--row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .quality__section,
    .quality__title,
    .quality__description {
        width: 100%;
        max-width: 575px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .quality__description {
        max-width: 500px;
        font-size: 16px;
        padding: 0;
    }

    .quality__right--row {
        width: 100%;
        padding: 24px 48px;
        margin: 0;
    }

    .quality__link--button {
        width: 350px;
        height: 50%;
        margin: 0 auto;
    }

    .steps__item--wrapper {
        width: 100%;
        max-width: 275px;
    }
    
    .values__title {
        padding-left: 8px;
    }

    .invite__wrapper {
        height: auto;
    }

    .subscription__options--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .option__title--edges,
    .option__title--middle {
        font-size: 24px;
    }

    .option__monthly--edges,
    .option__monthly--middle {
        font-size: 24px;
    }

    .option__price--edges,
    .option__price--middle {
        font-size: 64px;
    }

    .option__details--edges,
    .option__details--middle {
        font-size: 20px;
    }

    .option__button--style {
        padding: 16px 36px;
        font-size: 14px;
        border: none;
        border-radius: 50px;
    }

    .subscription__option-rows--wrapper {
        margin-bottom: 40px;
    }

    .test__row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .test__title {
        max-width: 350px;
        text-align: center;
    }

    .test__description,
    .test__review--para {
        text-align: center;
    }

    .test__left--row {
        width: 100%;
        order: 2;
    }

    .test__right--row {
        width: 100%;
        order: 1;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .invite__row {
        display: flex;
        flex-direction: column;
    }

    .invite__message {
        width: 100%;
        min-width: 430px;
        text-align: center;
        margin-bottom: 32px;
    }

    .invite__buttons--wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .invite__button {
        width: 100%;
        margin: 0 16px;
    }
}

@media (max-width: 875px) {

    .values__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .values__left--row {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .values__description {
        margin: 0 auto;
    }

    .values__left-title--wrapper {
        padding-left: 64px;
    }

    .values__link--button {
        margin: 0 auto;
    }

    .values__right--row {
        width: 100%;
        padding: 0 32px;
    }
    .values__img {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 768px) {

    .nav__links {
        display: none;
    }

    .nav__button--menu {
        display: block;
    }
    
    .header__title {
        max-width: 500px;
        margin: 0 auto;
    }

    .header__input--bar {
        display: flex;
        justify-content: center;
    }

    .header__input--email {
        font-size: 14px;
        width: 50%;
    }

    .header__input--button {
        font-size: 14px;
        width:  25%;
        height: auto;
        position: static;
        margin: 0;
        margin-left: 8px;
    }

    .features__list--wrapper {
        max-width: 700px;
    }

    .features__item--wrapper {
        width: 50%;
    }

    .features__title {
        text-align: center;
    }

    .quality__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quality__left--row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .quality__section,
    .quality__title,
    .quality__description {
        width: 100%;
        max-width: 575px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .quality__description {
        max-width: 500px;
        font-size: 16px;
    }

    .quality__right--row {
        width: 100%;
        padding: 24px 48px;
    }

    .quality__link--button {
        width: 350px;
        height: 50%;
        margin: 0 auto;
    }

    .steps__row {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .steps__title {
        margin: 0 auto;
        text-align: center;
    }

    .steps__left--row {
        width: 100%;
        order: 2;
        padding: 0 32px;
    }

    .steps__right--row {
        width: 100%;
        padding-left: 16px;
        order: 1;
        align-items: center;
    }

    .values__main-title--style {
        max-width: 500px;
    }

    .steps__main--wrapper {
        width: 100%;
    }

    .steps__list--wrapper {
        display: flex;
    }

    .steps__item--wrapper {
        width: calc(100% / 3);
    }

    .steps__para--text {
        font-size: 12px;
    }

    .values__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    .values__left--row {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
    }

    .values__description {
        max-width: none;
    }

    .values__left-column--wrapper {
        margin: 0;
    }

    .values__left-title--wrapper {
        padding-left: 64px;
    }

    .values__link--button {
        margin: 40px 0;
    }

    .values__right--row {
        width: 100%;
        padding: 0 32px;
    }

    .values__img {
        width: 100%;
        margin: 0;
    }

    .subscription__title {
        text-align: center;
    }

    .invite__wrapper {
        height: auto;
    }

    .invite__row {
        display: flex;
        flex-direction: column;
    }

    .invite__message {
        text-align: center;
        margin-bottom: 32px;
    }

    .invite__buttons--wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .invite__button {
        font-size: 20px;
        width: 100%;
        margin: 0 16px;
    }

    .footer__copyright {
        width: 100%;
        max-width: 150px;
        text-align: center;
    }
}

@media (max-width: 625px) {

    .header__title,
    .features__title,
    .quality__title,
    .steps__title,
    .values__main-title--style,
    .subscription__title,
    .test__title {
        font-size: 32px;
        width: 100%;
        max-width: 400px;
    }

    .header__para,
    .features__description,
    .quality__description,
    .values__description,
    .subscription__description,
    .test__description {
        font-size: 14px;
        width: 100%;
        max-width: 400px;
    }
    
    .header__input--email {
        width: 200px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .header__input--button {
        width: 100px;
        font-size: 12px;
    }

    .features__list--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features__item--wrapper {
        width: 70%;
    }

    .quality__title {
        width: 100%;
        max-width: 350px;
    }

    .quality__link--button {
        width: 50%;
    }

    .steps__right--row {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__list--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__item--wrapper {
        width: 70%;
    }

    .steps__left--row {
        padding-top: 24px;
    }

    .values__left-column--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .values__left--column {
        padding-bottom: 40px;
    }

    .values__left-title--wrapper {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .values__para--text {
        width: 100%;
        max-width: 350px;
    }

    .values__link--button {
        width: 175px;
        margin: 0;
        margin-bottom: 40px;
    }

    .test__user--name,
    .test__user--title {
        width: 100%;
        max-width: 80px;
        font-size: 14px;
        text-align: center;
    }

    .invite__message {
        width: 100%;
        max-width: 375px;
        min-width: 250px;
        font-size: 32px;
    }
    
    .invite__buttons--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .invite__button {
        font-size: 20px;
        width: 200px;
        margin: 16px 0;
    }

    .footer__row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__nav--row {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .footer__main--wrapper {
        width: 100%;
    }

    .footer__columns {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__column {
        width: 50%;
        margin-bottom: 24px;
    }

    .footer__column:nth-child(5) {
        width: 100%;
        margin: 0 auto;
    }

    .footer__logo--text {
        margin-left: 8px;
        font-size: 16px;
    }

    .footer__nav-logo--wrapper {
        order: 1;
    }

    .footer__copyright {
        order: 3;
    }

    .footer__nav-links--wrapper {
        order: 2;
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin: 24px 0;
    }

    .circle__container {
        margin: 0;
    }
}

@media (max-width: 425px) {

    .header__title {
        font-size: 24px;
        width: 100%;
        max-width: 250px;
    }

    .header__para {
        width: 100%;
        max-width: 250px;
    }

    .invite__wrapper {
        padding: 24px 36px;
    }

    .invite__button {
        height: 75px;
    }
}

@media (max-width: 320px) {

    .invite__message {
        width: 100%;
        max-width: 200px;
        min-width: fit-content;
        font-size: 24px;
    }
}